<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="./css/styles.css">
  <title>creativeWeb...</title>
</head>

<body>
  <div class="container-fluid" id="title">
    <h1>creative<span>Web...</span></h1>
    <h4>Team of top web developers</h4>
  </div>
  <nav class="navbar navbar-dark">
    <div class=" container-fluid">
      <form class="form">
        <button class="btn" type="submit">Login</button>
        <button class="btn" type="submit">Sign up</button>
      </form>
    </div>
  </nav>

  <div class='container main mx-auto'>
    {{{body}}}
  </div>

  <div class='footer'>
    <div class='address'>
      <p>548 Market Street, PMB 57558 San Francisco, CA 94104</p>
    </div>

    <div class='icons'>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-github"></i>
    </div>
  </div>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
</body>