{{!-- {{#if loggedIn}} --}}

<div class="container overflow-hidden" id="home-container">
    {{!-- <h2 class='title'>Aldo Quintero</h2> --}}
    <div class="row g-5">
        <div class="col-md-3">
            <div class="p-2 border bg-light portrait"><img src="/images/aldo.jpg" alt="Juan's Portfolio">
            </div>
        </div>
        <div class="col-md-6" id="desc-box">
            <h2 class='title'>Juan Bernal</h2>
            <div class="p-2 border bg-light">
                <p>Web developer with 5years of experience and background in graphic design.
                    Web developer with 5years of experience and background in graphic design.
                    Web developer with 5years of experience and background in graphic design.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-2 border bg-light">
                <h4>Please leave a comment:</h4>
                <div class="input-group">
                    {{!-- <span class="input-group-text">With textarea</span> --}}
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                    <button class="btn" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- {{else}}
<a href="/login">You must login first to view this page</a>
{{/if}} --}}