<div class="container overflow-hidden">
  <div class="row g-5">
    <div class="col-md-5">
      <a href="/homepage/1">
        <div class="p-2 border bg-light"><img src="/images/01-bernal.jpg" alt="Juan's Portfolio">
        </div>
      </a>
    </div>
    <div class="col-md-5">
      <a href="/homepage/2">
        <div class="p-2 border bg-light"><img src="/images/02-medina.jpg" alt="Juan's Portfolio">
        </div>
      </a>
    </div>
    <div class="col-md-5">
      <a href="/homepage/3">
        <div class="p-2 border bg-light"><img src="/images/01-bernal.jpg" alt="Juan's Portfolio">
        </div>
      </a>
    </div>
    <div class="col-md-5">
      <a href="/homepage/4">
        <div class="p-2 border bg-light"><img src="/images/02-medina.jpg" alt="Juan's Portfolio">
        </div>
      </a>
    </div>

  </div>
</div>
</div>