<div class="container overflow-hidden">
  <div class="row g-5">
    <div class="col-md-5">
      <div class="p-2 border bg-light"><img src="/images/01-bernal.jpg" alt="Juan's Portfolio">
      </div>
    </div>
    <div class="col-md-5">
      <div class="p-2 border bg-light"><img src="/images/02-medina.jpg" alt="Juan's Portfolio">
      </div>
    </div>
    <div class="col-md-5">
      <div class="p-2 border bg-light"><img src="/images/01-bernal.jpg" alt="Juan's Portfolio">
      </div>
    </div>
    <div class="col-md-5">
      <div class="p-2 border bg-light"><img src="/images/02-medina.jpg" alt="Juan's Portfolio">
      </div>
    </div>
  </div>
</div>