<div class="container">
  {{!-- <div class="row d-flex justify-content-space-evenly"> --}}
    <div class="row ">

      <div class="col-md-5 portfolio">
        <a href="/homepage/1">
          <div class="p-2 border bg-light"><img src="/images/01-quintero.jpg" alt="Aldo's Portfolio">
          </div>
        </a>
      </div>

      <div class="col-md-5 portfolio">
        <a href="/homepage/2">
          <div class="p-2 border bg-light"><img src="/images/02-bernal.jpg" alt="Juan's Portfolio">
          </div>
        </a>
      </div>

    </div>

    {{!-- <div class="row d-flex justify-content-space-evenly"> --}}
      <div class="row">

        <div class="col-md-5 portfolio">
          <a href="/homepage/3">
            <div class="p-2 border bg-light"><img src="/images/03-galvez.jpg" alt="Michaela's Portfolio">
            </div>
          </a>
        </div>
        <div class="col-md-5 portfolio">
          <a href="/homepage/4">
            <div class="p-2 border bg-light"><img src="/images/04-medina.jpg" alt="Ever's Portfolio">
            </div>
          </a>
        </div>

      </div>
    </div>